$font-family: 'Roboto', sans-serif
$font-size-default: 16px
$font-size-title: 22px
$font-color-default-gray: #696d8c
$font-color-dark-gray: #312f4f
$font-color-light-gray: #eaeaf4

$border-color: #b6b9d0
$border-radius: 3px

$color-default-green: #17d499
$color-default-red: #f79682
$color-default-orange: #f7bc1c
$color-default-white: #ffffff
