@font-face
  font-family: "SF pro text"
  font-weight: 400
  src: url("assets/fonts/SF-Regular.otf") format("opentype")

@font-face
  font-family: "SF pro text"
  font-weight: 500
  src: url("assets/fonts/SF-Medium.otf") format("opentype")


html, body
  margin: 0
  padding: 0
  background-color: #f5f5fb

